*{
    margin: 0px;
    padding: 0px;
}

 .banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#sliderimg{
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
} 

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1);
    }
    85% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.overlay{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(14, 24, 19, 0.1), rgba(0, 0, 0, 0.9));
    position: absolute;
    top: 0;
}

.text{
    text-align: center;
    margin-top: 160px;
    color: white;
}

.text> h1{
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 700;
}

.text> h1>span {
    color: rgb(32, 255, 2);
}

.text> p{
    padding: 0px 400px;
    line-height: 30px;
    font-size: 20px;
}